@font-face {
  font-family: 'material-outline';
  font-weight: normal;
  font-style: normal;
  src: url('MaterialSymbolsOutlined[FILL\,GRAD\,opsz\,wght].ttf');
}

@font-face {
  font-family: 'material-rounded';
  font-weight: normal;
  font-style: normal;
  src: url('MaterialSymbolsRounded[FILL\,GRAD\,opsz\,wght].ttf');
}

@font-face {
  font-family: 'material-sharp';
  font-weight: normal;
  font-style: normal;
  src: url('MaterialSymbolsSharp[FILL\,GRAD\,opsz\,wght].ttf');
}

.icon {
  font-family: 'material-outline';
  font-size: 24px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}

[round] { font-family: 'material-rounded'; }
[sharp] { font-family: 'material-sharp'; }

[fill] { font-variation-settings: 'FILL' 1; } /* FILL THE ICONS */
