$primary: #44692B;
$on-primary: #FFFFFF;
$primary-container: #C3F1A1;
$on-primary-container: #0C2004;

$secondary: #57614E;
$on-secondary: #FFFFFF;
$secondary-container: #DCE6CD;
$on-secondary-container: #161F0F;
