// DISPLAY
// 57/64
$display-large: 57px;
$display-large-leader: 64px;
$display-large-tracking: -0.25px;

// 45/52
$display-medium: 45px;
$display-medium-leader: 52px;
$display-medium-tracking: 0px;

// 36/44
$display-small: 36px;
$display-small-leader: 44px;
$display-small-tracking: 0px;

// HEADLINE
// 57/64
$headline-large: 34px;
$headline-large-leader: 40px;
$headline-large-tracking: 0px;

// 45/52
$headline-medium: 28px;
$headline-medium-leader: 36px;
$headline-medium-tracking: 0px;

// 36/44
$headline-small: 32px;
$headline-small-leader: 32px;
$headline-small-tracking: 0px;

// TITLE
// 57/64
$title-large: 22px;
$title-large-leader: 28px;
$title-large-tracking: 0px;

// 45/52
$title-medium: 16px;
$title-medium-leader: 24px;
$title-medium-tracking: 0px;

// 36/44
$title-small: 14px;
$title-small-leader: 20px;
$title-small-tracking: 0px;

// BODY
// 57/64
$body-large: 16px;
$body-large-leader: 24px;
$body-large-tracking: 0.5px;

// 45/52
$body-medium: 14px;
$body-medium-leader: 20px;
$body-medium-tracking: 0.25px;

// 36/44
$body-small: 12px;
$body-small-leader: 16px;
$body-small-tracking: 0.4px;

// LABEL
// 57/64
$label-large: 16px;
$label-large-leader: 24px;
$label-large-tracking: 0.5px;
$label-large-weight: 600;

// 45/52
$label-medium: 14px;
$label-medium-leader: 20px;
$label-medium-tracking: 0.25px;
$label-medium-weight: 600;

// 36/44
$label-small: 11px;
$label-small-leader: 16px;
$label-small-tracking: 0.5px;
$label-small-weight: 500;

// SHADOWS
$l-elevation1: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
$l-elevation2: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
$l-elevation3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
$l-elevation4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
$l-elevation5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);

$d-elevation1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
$d-elevation2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
$d-elevation3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
$d-elevation4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
$d-elevation5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
